<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
      /* style untuk menu navbar */
      .navbar {
        background-color: #333;
        overflow: hidden;
      }
  
      /* style untuk link menu */
      .navbar a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        text-decoration: none;
      }
  
      /* efek hover pada link menu */
      .navbar a:hover {
        background-color: #ddd;
        color: black;
      }
    </style>
</head>
<body>    
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand mb-0 h1" style="font-size:30px">
                <i class="fa fa-globe fa-spin"></i>
                Babadu
            </a>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'dashboard:dashboard_atlet_page' %}">Dashboard</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'dashboard:tes_kualifikasi' %}">Tes kualifikasi</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'dashboard:daftar_event' %}">Daftar event</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'dashboard:enrolled_event_partai_kompetisi' %}">Enrolled Partai Kompetisi</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'dashboard:enrolled_event' %}">Enrolled event</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'dashboard:daftar_sponsor_untuk_atlet' %}">Daftar sponsor</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'dashboard:list_sponsor' %}">List sponsor</a>
                </li>
              </ul>           
            </div>
            <div class="d-flex justify-content-end gap-2">
                <a href="#" class="btn btn-outline-light mr-3">Logout</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
            </div>             
        </div>
      </nav>
</body>
</html>





