<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Babadu</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <style>
        .card {
          box-shadow: 0 0 10px rgba(0,0,0,0.3);
          transition: all 0.2s ease-in-out;
        }
    </style>
</head>
<body>
    {% include 'navbar_atlet.html'%} 
    <div class="container" style="padding-top:80px; padding-bottom:50px; margin-top: 62px;">
        <h4 style="text-align: center; font-weight:bold;">Dashboard Atlet</h4>
          <div class="card" style="max-width:800px; margin-left:auto; margin-right:auto; background-color:#F5F5F5;">
            <div class="card-body">
            <form>
                <div class="md-3 row">
                    <label class="col-sm-3 col-form-label" style="font-family: 'Montserrat', sans-serif;">Nama Lengkap</label>
                    <div class="col-sm-9">
                        <input readonly class="form-control" style="border-radius:10px;" value="">
                    </div>
                </div>
                
                <div class="md-3 row" style="padding-top:8px;">
                    <label class="col-sm-3 col-form-label" style="font-family: 'Montserrat', sans-serif;">Negara</label>
                    <div class="col-sm-9">
                        <input readonly class="form-control" style="border-radius:10px;" value="">
                    </div>
                </div>

                <div class="md-3 row" style="padding-top:8px;">
                    <label class="col-sm-3 col-form-label" style="font-family: 'Montserrat', sans-serif;">Email</label>
                    <div class="col-sm-9">
                        <input readonly class="form-control" style="border-radius:10px;" value="">
                    </div>
                </div>

                <div class="md-3 row" style="padding-top:8px;">
                    <label class="col-sm-3 col-form-label" style="font-family: 'Montserrat', sans-serif;">Tanggal lahir</label>
                    <div class="col-sm-9">
                        <input readonly class="form-control" style="border-radius:10px;" value="">
                    </div>
                </div>

                <div class="md-3 row" style="padding-top:8px;">
                    <label class="col-sm-3 col-form-label" style="font-family: 'Montserrat', sans-serif;">Play</label>
                    <div class="col-sm-9">
                        <input readonly class="form-control" style="border-radius:10px;" value="">
                    </div>
                </div>

                <div class="md-3 row" style="padding-top:8px;">
                    <label class="col-sm-3 col-form-label" style="font-family: 'Montserrat', sans-serif;">Tinggi badan</label>
                    <div class="col-sm-9">
                        <input readonly class="form-control" style="border-radius:10px;" value="">
                    </div>
                </div>

                <div class="md-3 row" style="padding-top:8px;">
                    <label class="col-sm-3 col-form-label" style="font-family: 'Montserrat', sans-serif;">Jenis kelamin</label>
                    <div class="col-sm-9">
                        <input readonly class="form-control" style="border-radius:10px;" value="">
                    </div>
                </div>

                <div class="md-3 row" style="padding-top:8px;">
                    <label class="col-sm-3 col-form-label" style="font-family: 'Montserrat', sans-serif;">Pelatih</label>
                    <div class="col-sm-9">
                        <input readonly class="form-control" style="border-radius:10px;" value="">
                    </div>
                </div>

                <div class="md-3 row" style="padding-top:8px;">
                    <label class="col-sm-3 col-form-label" style="font-family: 'Montserrat', sans-serif;">Status</label>
                    <div class="col-sm-9">
                        <input readonly class="form-control" style="border-radius:10px;" value="Not Qualified">
                    </div>
                </div>

                <div class="md-3 row" style="padding-top:8px;">
                    <label class="col-sm-3 col-form-label" style="font-family: 'Montserrat', sans-serif;">World rank</label>
                    <div class="col-sm-9">
                        <input readonly class="form-control" style="border-radius:10px;" value="-">
                    </div>
                </div>

                <div class="md-3 row" style="padding-top:8px;">
                    <label class="col-sm-3 col-form-label" style="font-family: 'Montserrat', sans-serif;">Total poin</label>
                    <div class="col-sm-9">
                        <input readonly class="form-control" style="border-radius:10px;" value="0">
                    </div>
                </div>
            </form>
            </div>
          </div>
    </div>
    {% include 'footer.html'%} 
</body>
</html>